/* FONTS: */
/* 
font-family: 'Amatic SC', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Bubblegum Sans', cursive;
font-family: 'Changa', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Macondo', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'Zeyada', cursive; 
*/

/* COLORS: */
/* 
Card wrapper: #615145
Card background: linear-gradient(0deg, rgba(229,212,175,1) 0%, rgba(212,180,132,1) 100%);
                 background-image: linear-gradient(to top, #e5d4af, #e1cca4, #dcc499, #d8bc8e, #d4b484);

Card border: #dc8464
Card before and after bg: #a7606b
light text: #e5dccb
*/


*, *::before, *::after {
   box-sizing: border-box;
}

body {
   margin: 0;
}

img {
   max-width: 100%;
   display: block;
}

.card-style-name {
   font-size: 3rem;
   text-align: center;
}

.container {
   display: flex;
   gap: 1rem;
   padding: 3rem;
   overflow-x: scroll;
}

.container::-webkit-scrollbar {
   width: 10px;
   height: 10px;
}
.container::-webkit-scrollbar-thumb {
   background-image: linear-gradient(to top, #e5d4af, #e1cca4, #dcc499, #d8bc8e, #d4b484);
   border-radius: 10px;
   box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.container::-webkit-scrollbar-track {
   background: #615145;
}

@media screen and (min-width: 1560px) {
   .container {
      justify-content: center;
   }

   .container::-webkit-scrollbar-track {
      background: transparent;
   }
}

/* General Card styles */
.card {
   position: relative;
   width: 200px;
   min-width: 150px;
   border-radius: 16px;
   box-shadow: -.75rem 0 2.5rem rgb(0, 0, 0);
   transition: all 200ms ease-in-out;
   cursor: pointer;
}

.card:hover {
   transform: translateY(-1rem) scale(1.05);
   
}

.card:hover ~ .card {
   transform: translateX(20px);
}

.card:not(:first-child) {
   margin-left: -20px;
}

.card-inner {
   position: relative;
}

.card-inner::before, .card-inner::after {
   position: absolute;
}

.card-inner::before {
   content: "200";
}

.card-inner::after {
   content: "50";
}

.card-name h3 {
   text-align: center;
   margin: 0;
}

/* Indie cards styles */
.indie {
   font-family: 'Amatic SC', cursive;
}

.indie-card {
   background-color: #615145;
   padding: 1.15rem .75rem;
}

.indie-card--inner {
   background-image: linear-gradient(to top, #e5d4af, #e1cca4, #dcc499, #d8bc8e, #d4b484);
   border: .3rem solid #dc8464;
   border-radius: 8px;
}

.indie-card--inner::before, .indie-card--inner::after {
   width: 35px;
   font-size: 1.5rem;
   text-align: center;
   color: #e5dccb;
   background: #a7606b;
   border: 4px solid #dc8464;
   border-radius: 8px;
}

.indie-card--inner::before {
   content: "200";
   top: -.6rem;
   left: -.6rem;
   /* padding: .25rem; */
}

.indie-card--inner::after {
   content: "50";
   bottom: -.6rem;
   right: -.6rem;
   /* padding: .25rem; */
}

.indie-card--name {
   background-image: linear-gradient(to top, #e5d4af, #e1cca4, #dcc499, #d8bc8e, #d4b484);
   padding: .5rem;
}

.indie-card--name h3 {
   font-size: 1.25rem;
}


/* Section break */
.section-break {
   height: 5px;
   background-color: #3a3a3a;
   margin: 1rem 0;
}


/* Minimalist card styles */
.minimalist {
   font-family: 'Cinzel', serif;
}

.minimalist-card {
   background-color: #c9c9c9;
   background-image: linear-gradient(to bottom, #ffffff, #f5f5f5, #eaeaea, #e0e0e0, #d6d6d6, #d6d6d6, #d6d6d6, #d6d6d6, #e0e0e0, #eaeaea, #f5f5f5, #ffffff);
   padding: 3rem 1.25rem 0;
   overflow: hidden;
}

.minimalist-card--inner::before, .minimalist-card--inner::after {
   width: 35px;
   height: 35px;
   font-size: 1rem;
   font-weight: 700;
   text-align: center;
   color: #4b4b4b;  

   display: flex;
   justify-content: center;
   align-items: center;

   top: -2.35rem;
}

.minimalist-card--inner::before {
   content: "200";
   left: -.6rem;
}

.minimalist-card--inner::after {
   content: "50";
   right: -.6rem;
}

.minimalist-card--name {
   position: relative;
   padding: 0 0 2rem;
}

.minimalist-card--name::before {
   content: '';
   width: 30px;
   height: 4px;
   background-color: #bb4921;
   position: absolute;
   bottom: 1.75rem;
   left: calc(50% - 1rem);
   border-radius: 10px;
}

.divmon-logo--card {
   font-size: .7rem;
   text-align: center;
   background: #cac7ca;
   margin: 0 -1.25rem;
   padding: 1rem;
}
